doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dunosusa
    link(rel="stylesheet", href="../css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/style.css")

  body
    .container
      .row.justify-content-center.align-items-center.min-vh-100
        #login-box.col-12.col-md-8.col-lg-6.bg-secondary
          h2.text-center Dunosusa
          #alert
            .alert.alert-light(role="alert")
              h4.alert-heading ¡Envio Exitoso!
              p Su solicitud ha sido enviada y será evaluada en cuanto antes
            a.btn.btn-primary(href="sesion/login.php") Cerrar

    script(src="../js/login.js")
