// recovery.pug
.modal.fade#successModal(tabindex="-1", role="dialog", aria-labelledby="successModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title#successModalLabel ¡Envío Exitoso!
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                p Su solicitud ha sido enviada y será evaluada en cuanto antes.
            .modal-footer
                button.btn.btn-primary(type="button", data-dismiss="modal") Cerrar
